# OS & System Files
.DS_Store
Thumbs.db
desktop.ini

# PHP & Composer
/vendor/
*.log
composer.phar
.phpunit.result.cache

# IDE & Tools
.idea/
.vscode/
*.swp
*.swo

# Project Variable Content (Preserve directory structure if .gitkeep exists)
/public/cache/*
!/public/cache/.gitkeep

/public/content/images/*
!/public/content/images/.gitkeep

/public/content/pages/*
!/public/content/pages/.gitkeep

/public/content/posts/*
!/public/content/posts/.gitkeep
